
* {
    margin: 0;
    padding: 0;
    font-family: -webkit-body;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: left;
    width: 1300px;
    height: 850px;
    transform: translate(-50%, -50%);
    background: blue;

}
.contain{
    background: lightgoldenrodyellow;
    margin: 15px 30px;
    height: 780px;
    padding: 5px;
}
.top{
    background: aqua;
    height: 60px;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
.top h1 {
    margin-left: 4px;
    color: blue;
    text-align: left;
    padding-top: 10px;
    font-weight: 1000;
}
label{
    color: blue;
}
.name{
    margin-top: 15px;
}
.name label{
    margin-left: 4px;
    font-weight: 300;

    width: 220px;
    float: left;
    margin-top: 10px;

    text-align: left;

}
.name input{
    width: 530px;
    float: left;

    margin-left: 30px;
    height: 50px;
}
.ns{
    margin-top: 15px;

}
.ns label{
    margin-left: 4px;
    font-weight: 300;

    width: 220px;
    float: left;

    margin-top: 10px;
    text-align: left;

}
.ns input{
    width: 330px;
    float: left;
    margin-left: 30px;
    height: 50px;
}
.gender{
    margin-top: 15px;
}
.gender label{
    margin-left: 4px;
    font-weight: 300;

    width: 220px;
    float: left;
    margin-top: 10px;

    text-align: left;

}
.gender input{
    margin-left: 50px;
    margin-top: 20px;
}

.add{
    margin-top: 15px;
}
.add label{
    margin-left: 4px;
    font-weight: 300;

    width: 220px;
    float: left;
    margin-top: 10px;

    text-align: left;

}
.add input{
    width: 464px;
    float: left;

    margin-left: 30px;
    height: 130px;
}
.cl{
    margin-top: 15px;

}
.cl label{
    margin-left: 4px;
    font-weight: 300;

    width: 220px;
    float: left;

    margin-top: 10px;
    text-align: left;

}
.cl select{
    width: 330px;
    float: left;
    margin-left: 30px;
    height: 50px;
}
.email{
    margin-top: 15px;

}
.email label{
    margin-left: 4px;
    font-weight: 300;

    width: 220px;
    float: left;

    margin-top: 10px;
    text-align: left;

}
.email input{
    width: 370px;
    float: left;
    margin-left: 30px;
    height: 50px;
    margin-top: 15px;
}
.p{
    margin-top: 15px;

}
.p label{
    margin-left: 4px;
    font-weight: 300;

    width: 220px;
    float: left;

    margin-top: 10px;
    text-align: left;

}
.p input{
    width: 370px;
    float: left;
    margin-left: 30px;
    margin-top: 15px;
    height: 50px;
}
.bottom{
    margin-left: 245px;
}
.bottom input{
    height: 50px;
    width: 180px;
    margin-left: 10px;
}
