
* {
    margin: 0;
    padding: 0;
    font-family: -webkit-body;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    width: 600px;
    height: 290px;
    transform: translate(-50%, -50%);
    background: rgb(18 239 249);
   
}
.content{
    background: white;
    margin: 15px 30px;
    height: 250px;
    padding: 5px;
}
.top{
   background: tomato;
   height: 30px;
   text-align: center;

}
.top h3 {
    color: white;
    text-align: center;
    padding: 4px;
    font-weight: 100;
}

 label{
    color: blue;
}
.name{
    margin-top: 15px;
}
.name label{
 width: 100px;
 float: left;
 
 margin-left: 10px;
 text-align: right;

}
.name input{
     width: 200px;
     float: left;

     margin-left: 30px;
     height: 22px;
 }
.email{
    margin-top: 15px;
    width: 500px;
    height: 23px;
}
.email label{
    width: 100px;
    float: left;

    margin-left: 10px;
    text-align: right;

}
.email input{
    width: 150px;
    float: left;
    margin-left: 30px;
    height: 22px;
}
.sothich{
    margin-top: 20px;

}
.check{
    width: 100px;
    float: left;

    margin-left: 10px;
    text-align: right;

}
.checkbox{
    float: left;
    width: 360px;
    margin-left: 30px;
}
.checkbox label{
    color: tomato;
    width: 40px;

}
.label{
    float: left;
    padding-right: 20px;
    height: 30px;
    width: 100px;
}
.button{
    margin-top: 15px;
    margin-left:26%;
    float: left;

}
button{
    margin-right: 5px;
    padding: 1px 5px;
}
input{
    box-shadow: 2px 2px 1px #9c8c8c inset;
    float: left;
}