
table{
    background-color: white;
    margin: auto;
    border-spacing: 15px;
    border:6px solid black;
}
#result{
    width: 359px;
    height: 40px;
}
.btn{
    width: 58px;
    height: 46px;
    color: blue ;

}