* {
    margin: 0;
    padding: 0;
    font-family: -webkit-body;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    
    width: 200px;
    height: 330px;
    transform: translate(-50%, -50%);
    background: ;


}
.content{
    background: white;
    margin: 15px 30px;
    height: 250px;
    padding: 5px;
}
.email{
    margin-top: 15px;
}
.p {
    margin-top: 15px;
}
.gender{
    margin-top: 15px;
}
.register{
    margin-top: 15px;
}